//Header -- lien sur le logo
.link__logo {
    margin: 2em;
    font-family: 'Amita', cursive;
    text-align: center;
    text-decoration: none;
    color: #000000;
    span {
    background: url("img/logo-fondblanc-lachouetteagence.svg");
    background-size: 1.5em 1.5em;
    background-repeat: no-repeat;
    padding-left: 1.6em;
    }
}