html {
    font-size: $fz-base;
    font-family: $ff-main;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.4em;
}

body {
    font-size: 16px;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//Marges et padding
.row-no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row.row-no-gutters > [class^="col-"],
.row.row-no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

//Bloc Fond blanc
.bgc-white {
    @include bloc-white;
}
//Bloc Fond Bleu
.bgc-dark-slate-blue {
    @include bloc-2nd-color;
}
//Bloc Fond orange
.bgc-atomic-tangerine {
    @include bloc-1st-color;
}




.ltc-white {
    @include bloc-white;
    &:hover:focus {
    color: #cccccc;
    }
}

.ltc-atomic-tangerine {
    color: #94360a;
    &:hover:focus {
    color: #c27956;
    }
}