.font-color-contrast {
    color: #ffffff;
}

.font-contrast-black {
    color: #000000;
}

.blockquote__font--colorcontrast {
    color: #4d4d4d;
}


.black-background {
    background-color: #E9BD79;
    padding: 40px 40px 40px 40px;
}