//Text size
$fz-base: 16px;
$fz-h1: 4.236em;
$fz-h2: 2.618em;
$fz-h3: 1.618em;
$fz-p: 1em;
$fz-li: 1em;


//Font-Family
$ff-logo: "Amita", cursive;
$ff-main: "Helvetica", "Open Sans", sans-serif;

//Colors
$color-1st:#94360A;
$color-2nd:  #364577;

